body{
    font-family:Arial, Helvetica, sans-serif
}
.container{
    background-color: lightgrey;
    padding-top:30px;
    padding-bottom: 30px;
}
.navContainer h1{
    color: blue;
}
.navContainer button{
    color: white;
    background-color: blue;
    border: none;
    padding: 5px;
    border-radius: 3px;
}
.navContainer{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.inputDiv{
    margin-top: 20px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.inputDiv input{
    margin-bottom: 5px;
    width: 75%;
    height: 20px;
}
/* ======= buttons ====== */
#searchBtn{
    background-color: blue;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
}
#resetBtn{
    background-color: grey;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
}
#searchBtn:hover{
    background-color: orange;
}
#resetBtn:hover{
    background-color: orange;
}
#countriesUsingEurBtn{
    margin: 5px;
}
#countriesUsingEurBtn:hover{
    background-color: orange;
}
#countriesTakingEnglishBtn{
    margin: 5px;
}
#countriesTakingEnglishBtn:hover{
    background-color: orange;
}
#macedoniaBtn{
    margin: 5px;
}
#macedoniaBtn:hover{
    background-color: orange;
}
/* ================================== */
#countryContainer img{
    border-radius: 3px;
    width: 300px;
    height: 150px;
}
#countryContainer div:hover{
    background-color: lightblue;
 }
#countryContainer{
    display:flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    gap: 10px;
}
#countryContainer div{
    /* padding: 10px; */
    max-width: 300px;
    max-height: fit-content;
    border-radius: 3px;
    border: 1px solid gray;
    background-color:wheat;
}
.country h2{
    padding: 10px;
}
.country p{
    padding: 10px;
}

#loader {
    display: none;
    margin-left: auto;
    margin-right: auto;
    border: 16px solid orange;
    border-radius: 50%;
    border-top: 16px solid #0e4061;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }